################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Ascension/structurizr/Ascension.Structurizr/packages
/Ascension/structurizr/Ascension.Structurizr/.vs/Ascension.Structurizr/v15
